.k-view-arrow{
    width:20px;
}
.row-top-border{
    border-top: 1px solid rgba(0,0,0,.125);
}

body { 
    font-size: 12px; 
}
input, select { 
    font-size: 100%; 
}
.center-text{
    text-align:center;
}
.font20{
    font-size:18px;
}

.k-wood-logo{
    width:40%;
    height:auto;
    max-width:250px;
}
p{
    font-size:14px;
}
.gray-text{
    color:#777777;
}
.contact-input{
  width:100%;
  border:1px solid #b2b2b2;
  border-radius: 6px;
  padding:8px;
}

.contact-input-1{
  width:100%;
  border:1px solid #b2b2b2;
  border-radius: 6px; 
  padding:8px;
 
}
.contact-btn{
    background-color:#982ce5;
    padding:12px;
    border:1px solid #982ce5;
    border-radius: 3px;
    width:100%;
    color:#ffffff;
    font-size:0.9rem !important;
}
h6{
    font-size:1.1rem !important;
    margin-bottom:0rem !important;
    line-height: 1rem;  
}
p{
    margin-bottom:0.6rem !important;
    line-height: 1.3rem !important;
    font-size:12px !important;
    
}
.g-recaptcha{
    width:250px;
    height:45px;
    display: table;
    margin-left:auto;
    margin-right:auto;
}
.rc-anchor-normal{
    width:300px !important;
    display: block;
    margin-left:auto !important;
    margin-right:auto !important;

}
.k-navigation-img{
    width:30%;
    display:block;
    margin:0 auto;
    max-width:23px;  
    margin-bottom: 3px !important;
    margin-top : 5px !important;
}
.k-navigation-link{
    color: #777777;
    text-decoration: none;
    text-align:center;
}
.k-navigation-img2{
    width:24%;
    display:block;
    margin:0 auto;
    max-width:20px;
    margin-bottom: 1px !important;
    margin-top : 5px !important;
}
.img2{
    display:none;
}
.active .img1{
    display:none;
}
.active .img2{
    display:block;
}
/* .active{
    color:#ed2f93;
} */
.k-navigation-section{
    border-top:0.8px solid rgba(0,0,0,.125);
    position: fixed;
    bottom:0;
    margin:0;
    background-color: #fafafa;
    z-index:10;
    height:65px;
}
.img2{
    display:none;
}
.active .img1{
    display:none;
}
.active .img2{
    display:block;
}
a:hover{
    text-decoration: none;
    color:black;
}
a:active{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
.purple-text{
    color:#982ce5;
}

 .form-control:focus {
    border-color:#982ce5 ;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
  }
.height-50{
    height:50px;
}
body {
    font-size: 12px; 
   }
input,textarea select {
    font-size: 100%;
    }
.form-control {
       font-size: 12px !important;   
}

.height-200{
    height:160px;
}

