<section>
  <div class="container-fluid k-navigation-section">
      <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 mt-3">
               <a href="#" class="k-navigation-link active">
                 <img src="../../../../assets/images1/Asset 33.svg" alt="" class="k-navigation-img img1 mb-2">
                  <img src="../../../../assets/images1/Asset 36.svg" class="k-navigation-img  img2 mb-2">
                  <p class="center-text">မူလစာမျက်နှာ</p>
             </a>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 mt-3">
              <a href="#" class="k-navigation-link">
               <img src="../../../../assets/images1/Asset 34.svg" class="k-navigation-img img1 mb-2">
              <img src="../../../../assets/images1/Asset 37.svg" class="k-navigation-img  img2 mb-2">
              <p class="center-text">မိမိ Shop တင်မည်</p>
              </a>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 mt-3">
              <a href="#" class="k-navigation-link">
               <img src="../../../../assets/images1/Asset 35.svg" class="k-navigation-img2 img1 mb-2">
               <img src="../../../../assets/images1/Asset 38.svg" class="k-navigation-img2  img2 mb-2">
               <p class="center-text">ဆက်သွယ်ရန်</p>
              </a>
          </div>
      </div>
  </div>
 </section>