 <section>
            <div class="container-fluid">
                <div class="row k-view-bottom">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" style="margin-top:12px;margin-bottom:12px;">
                        <a href="./../home/home.html">
                         <img src="./assets/images1/Asset 65.svg" class="k-view-arrow">
                        </a>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                        <a href="../shopsearch/shopsearch/OnlineShopListingLaravel/src/ShopSearchPage.html">
                            <input type="text" class="form-control form-control-lg height-50 k-home-search" placeholder="ဆိုင်ရှာမည်">
                        </a>
                    </div>
                </div>
        </div>
    </section>
    <section>
       <div class="container-fluid">
        <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3">
                    <h4>Food Delivery ဆိုင်များ</h4>
                </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card k-home-card">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <a href="#" class="k-shop-link">
                                <img src="./assets/images1/Asset 40.png" class="k-shop-logo">
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <h5> Walcol Milk</h5> 
                            <div class="k-badge mt-2 mb-2"><h6 class="white-text">Food Delivery </h6></div>
                            <p class="gray-text">စမ်းချောင်း ၊အလုံ</p>
                            <p class="pink-text">မနက် ရ နာရီ - ည ရ နာရီ</p>
                        </div>
                     </div>
                     <div class="row k-bg-row pt-2 pb-2 custom-row">
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                             <img src="./assets/images1/Asset 41.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                               <img src="./assets/images1/Asset 40.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                               <img src="./assets/images1/Asset 42.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                               <img src="./assets/images1/Asset 43.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                               <img src="./assets/images1/Asset 44.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                     </div>
                </div>
            </div>
        </div>
         <div class="row pt-4">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card k-home-card">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <a href="#" class="k-shop-link">
                                <img src="./assets/images1/Asset 49.png" class="k-shop-logo">
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <h5>အမေထွား</h5> 
                            <div class="k-badge mt-2 mb-2"><h6 class="white-text">Food Delivery </h6></div>
                            <p class="gray-text">ရန်ကုန်မြို့နယ်အားလုံး</p>
                            <p class="pink-text">မနက် ၉ နာရီ - ည ၁၀ နာရီ</p>
                        </div>
                     </div>
                     <div class="row k-bg-row pt-2 pb-2 custom-row">
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                             <img src="./assets/images1/Asset 49.png" class="k-item-img">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                               <img src="../images1/Asset 47.png" class="k-item-img">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                     </div>
                </div>
            </div>
        </div>
         <div class="row pt-4">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card k-home-card">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <a href="#" class="k-shop-link">
                                <img src="../images1/Asset 48.png" class="k-shop-logo">
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                            <h5>Lactasoy</h5> 
                            <div class="k-badge mt-2 mb-2"><h6 class="white-text">Food Delivery </h6></div>
                            <p class="gray-text">ရန်ကင်း ၊အလုံ ၊ကြည့်မြင်တိုင်</p>
                            <p class="pink-text">မနက် ၈ နာရီ - ည ၆ နာရီ</p>
                        </div>
                     </div>
                     <div class="row k-bg-row pt-2 pb-2 custom-row">
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                             <img src="../images1/Asset 50.png" class="k-item-img">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                               <img src="../images1/Asset 51.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                              <img src="../images1/Asset 52.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                              <img src="../images1/Asset 53.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                              <img src="../images1/Asset 54.png" class="k-item-img" style="margin-top: 5px; min-height: 50px;max-height:50px;">
                         </div>
                         <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                     </div>
                </div>
            </div>
        </div>
       
        <div class="row pt-4 mb-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a href="#" class="k-view-shop">ထပ်ကြည့်ရန်</a>
            </div> 
        </div>
    </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                        <h4> အဝတ်အထည် ဆိုင်များး</h4>
                    </div>
               </div>
            <div class="row pt-4 mb-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a href="#" class="k-view-shop">ထပ်ကြည့်ရန်</a>
                </div> 
            </div>
            </div>
        </section>