.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /*in FireFox*/ 
    filter: alpha(opacity=50); /* in IE */
}
/* FOR HEADER */
#prev_arrow{
    max-width: 5%;
    width: 100%;
    height: auto;
    margin-top: 13px;
    margin-left: 20px;
}
.page2Header {
    /* background-color: red; */
    height: 52px;
    width: 100%;
    font-size: 0.8rem !important;
}
.page2Number {
    color: #787878;
    position: absolute;
    left: 46%;
    right: 50%;
    top: 2%;
 }
.page2Link {
    color: #982ce5;
    margin-right: 10px;
    float: right;
    margin-top: 13px;
    margin-right: 20px;
}
/* HEADER END */
.page2Line {
    /* margin-top: 13px; */
    /* margin-bottom: 16px !important; */
    border: 0;
    border-top: 7px solid #dddddd;
}
/* BODY CONTENT */
.align {
    padding-left: 1%;
    padding-right: 1%;
}
.f-13 {
    font-size: 12px;
    color: #777777;
}
.f-15 {
    font-size: 12px;
    color: #777777;
}
.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.plus-color {
    color: #737c84;
}
.arr {
    position: absolute;
    width: 15px;
    padding-top: 25px;
    right: 15px;
}

.arr2 {
    position: absolute;
    width: 15px;
    padding-top: 25px;
    right: 15px;
}
#input-height {
    height: 50px;
    border-radius: 6px;
    font-size: 12px;
    /* background-color: #fff; */
}
#input-height:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid #982ce5;
    outline: 0;
    box-shadow: none !important;
}
/* ClockPicker */
.clock {
    position: absolute;
    width: 15px;
    height: auto;
    padding-top: 20px;
    right: 17px;
}
.clock1 {
    position: absolute;
    width: 15px;
    height: auto;
    padding-top: 20px;
    right: 17px;
}
#clockModal {
    border-radius: 6px;
    height: 50px;
}
/* ClockPicker End */
.para {
    color: #f35952;
    font-size: 12px;
}
.uploadMyShop {
    padding-top: 20px;
}
.cross {
    width: 15px;
    height: 15px;
    float: right;
}
#product {
    border: 0;
    outline: 0;
    font-size: 12px;
    /* background: transparent; */
    border-bottom: 1px solid #ccc;
    width: 80%;
    height: 40%;
}
.form-check-label{
    font-size: 12px;
    padding-left: 6px;
}
.uploadButton {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    width: 55%;
    height: 40px;
    border: none;
}
.cancelModal{
    font-size: 12px !important;
}
#white {
    color: #fff;
    font-size: 12px;
    background-color: #982ce5;
    border-radius: 4px;
    line-height: 18px;
    padding-bottom: 10px;
    width: 160px;
}
/* BODY CONTENT END */

.myClass .clock-picker__wrapper {
    z-index: 2;
  }
  .myClass .clock-picker__nav {
      background-color: #982ce5;
  }
  .myClass .clock-picker__time-display__button {
      color: #fff!important;
  }
  .myClass .clock-picker__hours-mode-panel__button {
      color: #fff!important;
  }
  /* .myClass .clock-picker__clock-face .clock-picker__clock-face__center {
    fill: #982ce5;
  } */
  .myClass .clock-picker__item-button--selected {
    background-color: #982ce5;
    color: #fff;
  }
  .myClass .clock-picker__clock-face__tick .clock-picker__clock-face__tick--selected {
      stroke: #982ce5!important;
  }
  .myClass .clock-picker__footer__dialog-control-button {
      color: #982ce5!important;
  }

