
<!-- The Modal For Township -->
<!-- <div class="modal fade" id="township-Modal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content"> -->
  
      <!-- Modal Header -->
      <!-- <div class="modal-header">
          <h6 class="modal-title p.h5">
            မြို့နယ်ရွေးချယ်ပါ
          </h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <!-- Modal body -->
      <!-- <div class="modal-body">
          <div class="checkbox">
          <input type="checkbox" name="check_list" class="cb mr-3" value="" id="checkAll">
        <label class="check-label f-v-w-4" for="checkAll">
        မြို့နယ်အားလုံး
        </label>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check1">
        <label class="check-label f-v-w-4" for="check1">
        သာကေတ
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check2">
        <label class="check-label" for="check2">
        မြောက်ဒဂုံ
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check3">
        <label class="check-label f-v-w-4" for="check3">
        တောင်ဒဂုံ
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="cb mr-3" value="" id="check4">
        <label class="check-label f-v-w-4" for="check4">
        ဖော့ကန်
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check5">
        <label class="check-label" for="check5">
        အင်းစိန်
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check6">
        <label class="check-label f-v-w-4" for="check6">
        ကမာရွတ်
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check7">
        <label class="check-label f-v-w-4" for="check7">
        ကြည့်မြင်တိုင်
        </label>
        </div> -->
        
        <!-- <div class="checkbox">
        <input type="checkbox" class="cb mr-3" value="" id="check8">
        <label class="check-label" for="check8">
        ဝက်လက်
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="cb mr-3" value="" id="check9">
        <label class="check-label" for="check9">
        နွားထိုးကြီး
        </label>
        </div> -->
    
      <!-- Modal footer -->
      <!-- <div class="modal-footer"> -->
        <!-- <div class="row mt-4">
          <div class="col-6">
            <button type="button" class="btn btn-block btn-md chooseBtn">
            ရွေးမည်
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-md btn-block" data-dismiss="modal">
              မလုပ်တော့ပါ
            </button>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
      <!-- </div>
  </div>
</div> -->
<!-- End Modal For Township -->


<!-- <div mat-dialog-title>
  <h6 class="modal-title p.h5">မြို့နယ်ရွေးချယ်ပါ</h6>
  <button mat-button class="close-icon" [mat-dialog-close]="true" style="float: right;">
        <mat-icon>close</mat-icon>
  </button>
</div> -->
<div>
<div mat-dialog-title>
  <h6 class="modal-title p.h5">မြို့နယ်ရွေးချယ်ပါ</h6>
  <button mat-button class="close-icon" [mat-dialog-close]="true" style="float: right;">
        <mat-icon>close</mat-icon>
  </button>
</div>
<!-- </mat-dialog-header> -->
<mat-dialog-content>

  <!-- <mat-form-field> -->
    <div class="scrollbar scrollbar-pink bordered-pink thin">
      <div class="force-overflow"></div>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="checkAll">
      <label class="check-label f-v-w-4" for="checkAll">
      မြို့နယ်အားလုံး
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check1">
      <label class="check-label f-v-w-4" for="check1">
      သာကေတ
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check2">
      <label class="check-label" for="check2">
      မြောက်ဒဂုံ
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check3">
      <label class="check-label f-v-w-4" for="check3">
      တောင်ဒဂုံ
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" class="cb mr-3" value="" id="check4">
      <label class="check-label f-v-w-4" for="check4">
      ဖော့ကန်
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check5">
      <label class="check-label" for="check5">
      အင်းစိန်
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check6">
      <label class="check-label f-v-w-4" for="check6">
      ကမာရွတ်
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="check_list" class="cb mr-3" value="" id="check7">
      <label class="check-label f-v-w-4" for="check7">
      ကြည့်မြင်တိုင်
      </label>
    </div>
  <!-- </mat-form-field> -->
    ....

</mat-dialog-content>

<mat-dialog-actions>
  <div class="row mt-4">
    <div class="col-6">
      <button class="mat-raised-button chooseBtn"(click)="save()">ရွေးမည်</button>
    </div>
    <div class="col-6">
      <button class="mat-raised-button"(click)="close()">မလုပ်တော့ပါ</button>
    </div>
  </div>
</mat-dialog-actions>

</div>