
<div>
  
<!-- </mat-dialog-header> -->
<div mat-dialog-title>
  <h6 class="modal-title p.h5">မြို့နယ်ရွေးချယ်ပါ</h6>
  <button mat-button class="close-icon" [mat-dialog-close]="true" style="float: right;">
        <mat-icon>close</mat-icon>
  </button>
</div>
<!-- </mat-dialog-header> -->
<mat-dialog-content>

  <div class="checkbox" *ngFor="let town of townshipList; let i = index">
    <input type="checkbox" class="cb mr-3" value="town" id="{{i}}" [(ngModel)]="town.checked">
    <label class="check-label f-v-w-4" for="{{i}}">
      {{town.name}}
    </label>
  </div>
    ....

</mat-dialog-content>

<mat-dialog-actions>
  <div class="row mt-4">
    <div class="col-6">
      <button class="mat-raised-button chooseBtn"(click)="save()">ရွေးမည်</button>
    </div>
    <div class="col-6">
      <button class="mat-raised-button"(click)="close()">မလုပ်တော့ပါ</button>
    </div>
  </div>
</mat-dialog-actions>

</div>