 <!-- Header -->
<section>
    <div class="container-fluid">
        <div class="row purple-bg-row pt-2 pb-2">
            <div class="col-6 col-lg-6 col-md-6">
                <img src="./assets/images1/Asset 2.svg" alt="wood-logo" class="k-home-logo">
            </div>
            <div class="col-3 col-lg-3 col-md-3 mt-2" style="cursor: pointer;">
                <span class="dropdowntxt"> ရန်ကုန် </span>
                <img src="../../../../assets/buy-app/dropdownarrow.svg" class="dropdownarrow" />
            </div>
            <div class="col-3 col-lg-3 col-md-3 mt-2">
                <!-- <img src="./assets/images1/Asset 44.svg" alt="search-logo" class="k-search-img" (click)="goToSearch()"
                    class="k-search-img"> -->
                <input type="text" class="navSearch ml-5" placeholder="ဆိုင်ရှာရန်" />
            </div>
        </div>
    </div>
</section>
<!-- Header End -->
<!-- Content Body -->
<section class="banner">
    <!-- <button type="button"  (click)="scroll(target)"></button> -->
    <img src="../../../../assets/buy-app/Asset 40.svg" class="bannerLogo" alt="ShopDooraLogo" />
    <h3 class="bannerTitle"> ငွေကျပ်အနည်းဆုံး <span class="purple_txt"> ၃ သောင်းခွဲ </span> ရှိရုံနဲ့ </h3>
    <h4 class="bannerText"> ကိုယ်ပိုင်အမည်ပေါက် <span class="purple_txt"> eCommerce App </span> ကို ပိုင်ဆိုင်နိုင်ပါပြီ။ </h4>
    <img src="../../../../assets/buy-app/Asset 41.png" class="bannerImage" alt="Avatar" />
    <a type="button" (click)="scroll(target)" class="viewMore">
        <img src="../../../../assets/buy-app/downArrowpurple.svg" class="viewMoreIcon" />
        <span> ဆက်ကြည့်ရန် </span> 
    </a>
</section>
<section class="ecommerce_upgrade" #target>
    <div class="container-fluid">
        <div class="row" style="padding-top: 75px;">
            <div class="col-12 col-lg-12 col-md-12">
                <h6 class="f-w-600 f-14 center"> <span class="purple_txt"> ShopDoora e-Commerce App </span> ကသင့်လုပ်ငန်းကို ဘယ်လိုမြင့်တင်ပေးမှာလဲ? </h6>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 82px;">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 42.png"  class="sleep" alt="sleepImage" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 49.svg"  class="calculator" alt="calculatorImage" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 55.svg" class="voucher" alt="voucherImage" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 53.svg" class="popular" alt="popularImage" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 1. ကိုယ်အိပ်နေရင်လဲ Order တွေ <br> လက်ခံ ပေးနေမယ် </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 2. Order စာရင်းတွက်ဖို့ အချိန် <br> လုံးဝ ပေးစရာမလိုပဲ <br> အလိုအလျောက် ကြည့်လို့ရလို့ <br> လုပ်ငန်း တိုးချဲ့ ဖို့အချိန်တွေ ပိုလာမယ် </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 3. Customer Order တွေအတွက်လည်း Voucher တွေကအလိုအလျောက် <br> ပြင်ဆင်ပြီးသားဖြစ်လို့ ခလုတ်တစ်ချက် <br> နှိပ်ယုံနဲ့ Printer နဲ့ထုတ်ရုံပဲ </p>
            </div>
            <div class="col-3 col-lg-3 col-md">
                <p class="caption"> 4. Popular ဖြစ်ပြီး ရောင်းကုန်တော့မယ့် <br> ပစ္စည်းစာရင်းများရဲ့ Reports  <br> ရောင်းသူ ဘက်မှ စက္ကန့်ပိုင်းအတွင်းကြည့်နိုင်လို့ <br> ပစ္စည်းမပြတ်ပဲ အမြဲရောင်းနေနိုင်မယ် </p>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 80px;">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 50.svg" class="out_of_stock" alt="outOfStock" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 51.svg" class="payment" alt="Payment"/>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 52.svg" class="pointDiscount" alt="Discount" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 54.svg" class="bell" alt="Bell"/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 5. ပစ္စည်းကုန်သွားရင်လည်း ရောင်းတဲ့ ခလုတ်က အလိုအလျောက် ပျောက်သွားလို့ Customer <br> တွေကလည်း ဝယ်လို့မရမှန်းသိမယ် </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 6. လူသုံးများတဲ့ Payment စနစ်များဖြစ်တဲ့ WaveMoney, KBZPay, Debit/Credit <br> တို့နဲ့ ချိတ်ထားလို့ ရောင်းသူကော ဝယ်သူပါ <br> တထိုင်တည်းမှာပဲ ငွေပေးချေလက်ခံမှုများကို <br> ပြုလုပ်နိုင်မယ် </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 7. ဝယ်ယူတဲ့ပစ္စည်းတိုင်းအတွက် <br> Point တွေဆုပေးထားပြီး ငွေသား၊ <br> Discounts နှင့် လက်ဆောင် များကို မိမိစိတ်ကြိုက် <br> သတ်မှတ်ပြီးပေးသွားနိုင်မယ် </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="caption"> 8. ရောင်းသူဘက်မှ Order များကို <br> Delivery Status ပြောင်းသည့်အခါတိုင်း <br> Customer ဘက်သို့ Notifications များ <br> ပို့ပေးသွားလို့ Phone တွေဆက် Message တွေပို့ပြီး <br> မေးစရာမလိုတော့ပါဘူး </p>
            </div>
        </div>
    </div>
</section>

<section class="appNweb" style="margin-top: 80px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12">
                <h6 class="f-w-600 f-14 center"> ကိုယ်ပိုင် နာမည်ပေါက် <span class="purple_txt"> Application </span> နဲ့ <span class="purple_txt"> Website </span> ဘယ်နှခုရမှာလဲ? </h6>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 col-lg-6 col-md-6">
                <img src="../../../../assets/buy-app/Asset 47.png"  class="sellerAppWeb" alt="Seller" />
            </div>
            <div class="col-6 col-lg-6 col-md-6">
                <img src="../../../../assets/buy-app/Asset 48.png" class="buyerAppWeb" alt="Buyer"/>
            </div>
        </div>
        <div class="row" style="margin-top: 75px;">
            <div class="col-10 col-lg-10 col-md-10" style="margin-left: 9%;">
                <p class="appNweb_caption"> ShopDoora တွင် အဓိကအားဖြင့် Seller App နှင့် Buyer App နှစ်မျိုးသာ ရှိပြီး Android Phone အသုံးပြုသူ နှင့် Apple ဖုန်းအသုံးပြုသူများ ကွဲခြားပြန်ရာ စုစုပေါင်း APP (၄) ခု <br> နှင့် Website (၂) ခု ရရှိမည်ဖြစ်သည်။ Buyer များအတွက် App Download မလုပ်ပဲ website link များမှ လွယ်လင့်တကူ Order မှာယူနိုင်ရန်အတွက်လဲ <br> Responsive Web တစ်ခုရှိမည်ဖြစ်သည်။ Seller များအတွက် Products, Orders, Customers, Reports စသည်တို့ကို Monitoring ပြလုပ်နိုင်ရန် အတွက် Website (Administration) <br> တခုလည်း ထပ်ရှိဦးမည်ဖြစ်သည်။ Web နှင့် App တို့တွင်ပါဝင်မည့် Features များကို နောက်စာမျက်နှာတွင် အသေးစိတ် ဖော်ပြထားရှိပါသည်။ </p>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container-fluid">
        <div class="row" style="padding-top: 65px;">
            <div class="col-12 col-lg-12 col-md-12">
                <h6 class="f-w-600 f-14 center"> <span class="purple_txt"> ShopDoora e-Commerce </span> တွင် ပါဝင်မည့် <span class="purple_txt"> Features </span> များ </h6>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 70px;">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 56.svg" class="featureImg-1" alt="featureImage" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 58.svg" class="featureImg-2" alt="featureImage" />
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 59.svg" class="featureImg-3" alt="featureImage" />
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-3 col-lg-3 col-md-3">
                <p class="f-13" style="margin-left: 20%;"> SELLER APP & WEB </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="f-13"> SELLER ADMINISTRATION WEBSITE </p>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <p class="f-13" style="margin-left: 27%;"> BUYER APP & WEB </p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Prodct Upload </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Dashboard View </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Landing Page </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Product List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Product Management </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Product Search </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Order Details </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;" />
                <span class="featureList"> Batch Products Upload </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Product Details </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Voucher Print </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Order Management </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Shopping Card (Payment Integration) </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Order List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Customer List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Order History </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Member Points </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Category List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Order Details </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Delivery Companies, Fees Setup </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Riders List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Notification </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Notifications </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Delivery Company List </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> My Account </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> My Accounts </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Menmber Points Control </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Login/Forgot Password </span>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Log In/Forgot Password </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> User Roles & Authentication </span>
            </div>
            <div class="col-3 col-lg-3 col-md-3">
                <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                <span class="featureList"> Registration with Facebook/ </span> <br> <span class="featureList" style="margin-left: 22px;"> Phone Number/e-Mail </span>
            </div>
        </div>
        <div *ngIf="show">
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign"/>
                    <span class="featureList"> Reports </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;"/>
                    <span class="featureList"> Products Report </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;"/>
                    <span class="featureList"> Customer Analytics </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;"/>
                    <span class="featureList"> Sales Analytics </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;"/>
                    <span class="featureList"> App & Site Visitors/User Report </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" style="margin-left: 40px;"/>
                    <span class="featureList"> Member Point Utilization Report </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" />
                    <span class="featureList"> Notifications </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" />
                    <span class="featureList"> My Account </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" />
                    <span class="featureList"> Settings </span>
                </div>
            </div>
            <div class="row justify-content-center list mt-1">
                <div class="col-3 col-lg-3 col-md-3">
                    <img src="../../../../assets/buy-app/Asset 57.svg" class="checkSign" alt="CheckSign" />
                    <span class="featureList"> Log In/Forgot Password </span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-12 col-md-12" >
                <button type="button" class="allView" (click)="toggle()" id="btn">
                    <img src="../../../../assets/buy-app/Asset 69.svg" class="btnArrow" />
                    <span class="btn-txt purple_txt"> {{ buttonName }} </span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="price">
    <div class="container-fluid">
        <div class="row" style="padding-top: 65px;">
            <div class="col-12 col-lg-12 col-md-12">
                <h6 class="f-w-600 f-14 center"> <span class="purple_txt"> ShopDoora eCommerce </span> အတွက် ကျသင့်မည့် စျေးနှုန်း </h6>
            </div>
        </div>
        <div class="row" style="margin-top: 60px;">
            <div class="col-3 col-lg-3 col-md-3" data-aos="fade-up" data-aos-offset="700" data-aos-duration="2300">
                <div class="card">
                    <div class="card-title card-1-header">
                        <h5> ShopDoora Lite </h5>
                    </div>
                    <div class="card-body">
                        <p class="f-12 grey_txt f-w-500"> Includes </p>
                        <p class="cardListValue"> 1% Transaction fee based on revenue </p>
                        <p class="cardListValue"> 2 Staff accounts </p>
                        <p class="cardListValue"> 100 products maximum upload </p>
                        <p class="cardListValue"> Seller and Buyer Apps(Android) </p>
                        <p class="cardListValue"> Payment Gateway Integration </p>
                        <p class="cardListValue"> Member Points System </p>
                        <p class="cardListValue"> 49,000 Ks for setting up App & Website </p>
                        <label class="cardLabel-1"> Ks 35,000/month </label>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-3 col-md-3" data-aos="fade-up" data-aos-offset="700" data-aos-duration="2300">
                <div class="card">
                    <div class="card-title card-2-header">
                        <h5> ShopDoora Standard </h5>
                    </div>
                    <div class="card-body">
                        <p class="f-12 grey_txt f-w-500"> Includes </p>
                        <p class="cardListValue"> 0.5% Transaction fee based on revenue </p>
                        <p class="cardListValue"> 5 Staff accounts </p>
                        <p class="cardListValue"> 500 products maximum upload </p>
                        <p class="cardListValue"> Seller and Buyer Apps(Android) </p>
                        <p class="cardListValue"> Seller and Buyer Apps (iOS) </p>
                        <p class="cardListValue"> Responsive Website for Buyers </p>
                        <p class="cardListValue"> Payment Gateway Integration </p>
                        <p class="cardListValue"> Member Points System </p>
                        <p class="cardListValue"> 1 Customizable Manday </p>
                        <p class="cardListValue"> 139,000 Ks for setting up App & Website </p>
                        <label class="cardLabel-2"> Ks 89,000/month </label>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-3 col-md-3" data-aos="fade-up" data-aos-offset="700" data-aos-duration="2300">
                <div class="card">
                    <div class="card-title card-3-header">
                        <h5> ShopDoora Pro </h5>
                        <img src="../../../../assets/buy-app/Asset 71.svg" class="greenDiamondFull" />
                        <img src="../../../../assets/buy-app/Asset 70.svg" class="greenDiamondHalf" />
                    </div>
                    <div class="card-body">
                        <p class="f-12 grey_txt f-w-500"> Includes </p>
                        <p class="cardListValue"> 0.25% Transaction fee based on revenue </p>
                        <p class="cardListValue"> Unlimited staff account </p>
                        <p class="cardListValue"> Unlimited product upload </p>
                        <p class="cardListValue"> Seller and Buyer Apps (Android) </p>
                        <p class="cardListValue"> Seller and Buyer Apps (iOS) </p>
                        <p class="cardListValue"> Responsive Website for Buyers </p>
                        <p class="cardListValue"> Administration Website for Sellers </p>
                        <p class="cardListValue"> Payment Gateway Integration </p>
                        <p class="cardListValue"> Member Points System </p>
                        <p class="cardListValue"> 5 Customizable Mandays </p>
                        <p class="cardListValue"> Abandoned cart recovery </p>
                        <p class="cardListValue"> All upcoming new features </p>
                        <p class="cardListValue"> 199,000 Ks for setting up App & Website </p>
                        <label class="cardLabel-3"> Ks 89,000/month </label>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-3 col-md-3" data-aos="fade-up" data-aos-offset="700" data-aos-duration="2300">
                <div class="card">
                    <div class="card-title card-4-header">
                        <h5> ShopDoora Enterprise </h5>
                        <img src="../../../../assets/buy-app/Asset 72.svg" class="yellowDiamondFull" />
                        <img src="../../../../assets/buy-app/Asset 73.svg" class="yellowDiamondHalf" />
                    </div>
                    <div class="card-body">
                        <p class="f-12 grey_txt f-w-500"> Includes </p>
                        <p class="cardListValue"> Seller and Buyer Apps(Android) </p>
                        <p class="cardListValue"> Seller and Buyer Apps (iOS) </p>
                        <p class="cardListValue"> Responsive Website for Buyers </p>
                        <p class="cardListValue"> Administration Website for Sellers </p>
                        <p class="cardListValue"> Payment Gateway Integration </p>
                        <p class="cardListValue"> Member Point Sytem </p>
                        <p class="cardListValue"> 20 Customizable Mandays </p>
                        <p class="cardListValue"> Abandoned cart recovery </p>
                        <p class="cardListValue"> All upcoming new features </p>
                        <label class="cardLabel-4"><a href="#"> ဆက်သွယ်ရန် </a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12">
                <p class="f-14 f-w-600"> အခြားဝန်ဆောင်မှုအတွက် စရိတ်များ  </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-lg-12 col-md-12">
                <p class="f-11 f-w-600"> မိမိစိတ်တိုင်းကျ Software ကိုပြင်ရန် တစ်ရက်ခ ဈေးနှုန်း &nbsp; &nbsp; &nbsp; : &nbsp; &nbsp; &nbsp;  ၆၅,၀၀၀ ကျပ် (iOS, Android, Web development အားလုံးအတွက် ဈေးတူပါသည်) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12">
                <p class="f-11 f-w-600"> ကိုယ်ပိုင် website အမည်ရရန် အတွက်ဈေးနှုန်း &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; &nbsp; &nbsp; ၂၅,၀၀၀ ကျပ် ခန့်ရှိသည် (မှုရင်းတန်ဖိုးသာပေးရန်) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12">
                <p class="f-11 f-w-600"> ကိုယ်ပိုင် ဆိုင်အမည်ဖြင့် Email Account အသစ်ဖွင့်ရန်  &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; &nbsp; &nbsp; ၁၀,၀၀၀ ကျပ် (Account အသစ်တစ်ခုဖွင့်ပေးခ) </p>
            </div>
        </div>
    </div>
</section>
<div class="line1"></div>
<section class="contentFooter">
    <div class="container-fluid">
        <div class="row" style="padding-top: 50px;">
            <div class="col-6 col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-4 col-lg-4 col-md-4">
                        <p class="f-13 f-w-500 purple_txt" style="margin-left: 40px;"> About Us </p>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4">
                        <p class="f-13 f-w-500 purple_txt"> Contact Us </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-4 col-lg-4 col-md-4">
                        <p class="f-12 f-w-500 grey_txt" style="margin-left: 40px;"> Who We Are </p>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4">
                        <p class="f-12 f-w-500 grey_txt"> For Application </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 col-lg-4 col-md-4">

                    </div>
                    <div class="col-4 col-lg-4 col-md-4">
                        <p class="f-12 f-w-500 grey_txt"> For Website </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg- 12 col-md-12">
                        <p class="f-11 f-w-500 grey_txt copyRight"> Copyright &copy; 2020 Myanmar High Society Co., Ltd.All Rights Reserved </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12">
                        <img src="../../../../assets/buy-app/Asset 40.svg" class="dooraLogo" alt="ShopDooraLogo"/>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-lg-12 col-md-12">
                        <p class="f-12 f-w-600" style="margin-left: 15%;"> ShopDoora Co., Ltd </p>
                    </div>
                </div>
                <div class="row" style="margin-left: 13%;">
                    <div class="col-3 col-lg-3 col-md-3">
                        <p class="f-11 grey_txt" >လိပ်စာ &nbsp;&nbsp;&nbsp; <span class="f-w-600"> : </span> </p>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6">
                        <p class="f-11 f-w-600"> Orchid Condo, No189, 18th Floor, <br> Ahlone Township,Yangon, Myanmar </p>
                    </div>
                </div>
                <div class="row" style="margin-left: 13%;">
                    <div class="col-3 col-lg-3 col-md-3">
                        <p class="f-11 grey_txt"> ဖုန်းနံပါတ် &nbsp;&nbsp;&nbsp; <span class="f-w-600"> : </span> </p>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6">
                        <p class="f-11 f-w-600"> 09 450880001 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Body End -->
<!-- Footer -->
<section>
    <div class="container-fluid k-navigation-section">
        <div class="row footer-row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2">
                <a class="k-navigation-link" (click)="gotoWebViewHome()"> 
                    <img src="./assets/images1/footer/Asset 22.svg" class="k-navigation-img1 mb-2">
                    <!-- <img src="./assets/images1/footer/Asset 26.svg" class="k-navigation-img1 mb-2"> -->
                    <p class="footertxt"> မူလစာမျက်နှာ </p>
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2">
                <a class="k-navigation-link" (click)="gotoWebViewShopAdd()">
                  <img src="./assets/images1/footer/Asset 23.svg" class="k-navigation-img1 mb-2">
                  <!-- <img src="./assets/images1/footer/Asset 27.svg" class="k-navigation-img2 mb-2"> -->
                    <p class="footertxt"> မိမိ Shop တင်မည် </p>
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2">
                <a class="k-navigation-link" (click)="gotoWebViewContactUs()">
                  <img src="./assets/images1/footer/Asset 24.svg" class="k-navigation-img1 mb-2">
                  <!-- <img src="./assets/images1/footer/Asset 28.svg" class="k-navigation-img2 mb-2"> -->
                    <p class="footertxt">ဆက်သွယ်ရန်</p>
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2">
              <a class="k-navigation-link">
                <!-- <img src="./assets/images1/footer/Asset 25.svg" class="k-navigation-img1 mb-2"> -->
                <img src="./assets/images1/footer/Asset 29.svg" class="k-navigation-img1 mb-2">
                  <p class="footertxt black-text">App ၀ယ်ယူမည်</p>
              </a>
          </div>
        </div>
    </div>
</section>
<!-- Footer End -->