
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-2 mb-2">
                         <img src="./assets/images1/ShopDooraLogoNewest.svg" alt="wood-logo" class="k-home-logo">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custom-col">
                        <div class="tab">
                            <button class="tablinks {{tablinks1}}" (click)='changeTab("tablinks1")' id="defaultOpen"><p>ရန်ကုန် Shop များ</p> </button>
                            <button class="tablinks {{tablinks2}}" (click)='changeTab("tablinks2")'><p>မန္တလေး Shop များ</p></button>
                            <button class="tablinks {{tablinks3}}" (click)='changeTab("tablinks3")' style="width:25% !important"><p>အခြားမြို့များ</p></button>
                             
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tabcontent" id="Yangon">
        <section>
            <div class="container-fluid">
                <div class="row pt-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="search-wrapper">
                            <input type="search" id="k-home-search" name="homesearch" class="k-home-search" placeholder="ဆိုင်ရှာရန်">
                            <img src="./assets/images1/Asset 39.svg" (click)="search('',homesearch)" class="k-search-img">  
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 0;padding-top:20px;margin-bottom: 0;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 m-0">
                    <div class="swiper-container" id="Yangonswiper">
                        <div class="swiper-wrapper">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <div class="slide swiper-slide">
                                        <img src="./assets/images1/Banner1.jpg"  class="banner1">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide swiper-slide">
                                        <img src="./assets/images1/Banner2.jpg"  class="banner1">
                                    </div>
                                </ng-template>                               
                            </owl-carousel-o>
                        </div>
                    </div>                   
                </div>
            </div>
            </div>
        </section>

        <section>
            <div class="container-fluid">
                <div class="row pb-1">
                                      
                    <div *ngFor="let shopType of shopTypeList" class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2 custom-col1">
                        <div class="k-category-link" (click)="search(shopType.name,'')">
                            <img src="{{shopType.iconUrl}}" class="k-category-img">
                            <p class="text-center gray-text pt-2">{{shopType.name}}</p>
                        </div>
                    </div>    

                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custom-col mt-3 ">
                        <div class="tab">                            
                            <button class="tablinks1 {{tablinks4}}" (click)='changeTab1("tablinks4")' id="defaultOpen1" style="width:35% !important"><p>OnlineShop ဆိုင်များ</p> </button>
                            <button class="tablinks1 {{tablinks5}}" (click)='changeTab1("tablinks5")' style="width:55% !important;display:none;"><p>သင်္ကြန်အတွင်းဖွင့်မည့်ဆိုင်များ</p></button>
                        </div>
                    </div>
                </div>
                <div class="tabcontent1" id="YangonOnline">
                <div *ngFor="let shop of shopList;let i=index" class="row pt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card k-home-card">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4">
                                    <div class="k-shop-link" (click)="shopDetail(shop.id)">
                                        <img src="{{shop.shopLogoUrl}}" class="k-shop-logo">
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4">
                                    <h5>{{shop.name}}</h5> 
                                    <div class="k-badge mt-3 mb-3" style="margin-right: 10px;"><h6 class="white-text">{{shop.shopTypeName}}</h6></div>                                 
                                    <p class="gray-text">
                                        <span *ngFor="let location of shop.shopDeliveryAvailableLocation;let i = index">  
                                            <span *ngIf="i<3">{{location.township.name}}၊</span>                                                                       
                                            <!-- <span *ngIf="i>=3 && townshipReadMore">{{location.township.name}}၊</span> -->
                                            </span>
                                    </p>
                                    <p class="pink-text">{{shop.deliveryFromTime}} - {{shop.deliveryToTime}}</p>
                                </div>
                             </div>
                             <div class="row k-bg-row pt-3 pb-3 custom-row">
                                 <div *ngFor="let product of shop.product;" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                     <img *ngIf="product.productImage[0]" src="{{product.productImage[0].url}}" class="k-item-img" style="margin-top: 3px; min-height: 50px;max-height:50px;">
                                 </div>                                
                                 <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                             </div>
                        </div>
                    </div>
                    <div *ngIf="i==1">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <img src="./assets/images1/Asset 28.png" class="k-adv-img" style="padding-top: 25px;">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mb-4">
                        <div (click)="viewMoreShop()" class="k-view-shop"><span class="gray-text font-15">ထပ်ကြည့်ရန်</span></div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " >
                        <div style="height:75px;width:100%;"></div>
                    </div>
                </div>
            </div>           
            </div>
            </section>
        </div>


           <section>
             <div class="container-fluid k-navigation-section">
                 <div class="row footer-row">
                     <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
                          <a href="#" class="k-navigation-link active">
                            <img src="./assets/images1/Asset 29.svg" class="k-navigation-img img1 mb-2">
                             <img src="./assets/images1/Asset 32.svg" class="k-navigation-img  img2 mb-2">
                             <p class="center-text black-text">မူလစာမျက်နှာ</p>
                        </a>
                     </div>
                     <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-2">
                         <a href="#" class="k-navigation-link">
                          <img src="./assets/images1/Asset 30.svg" class="k-navigation-img img1 mb-2">
                         <img src="./assets/images1/Asset 33.svg" class="k-navigation-img  img2 mb-2">
                         <p class="center-text">မိမိ Shop တင်မည်</p>
                         </a>
                     </div>
                     <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  mt-2">
                         <a href="./../contactus/contactus.html" class="k-navigation-link">
                          <img src="./assets/images1/Asset 31.svg" class="k-navigation-img2 img1 mb-2">
                          <img src="./assets/images1/Asset 34.svg" class="k-navigation-img2  img2 mb-2">
                          <p class="center-text">ဆက်သွယ်ရန်</p>
                         </a>
                     </div>
                 </div>
             </div>
            </section>

