.f-10{
  font-size: 10px !important;
}
.f-14{
  font-size: 14px !important;
}
.f-11{
  font-size: 11px !important;
}

.f-16{
  font-size: 16px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-8{
  font-size: 8px !important;
}

.bottom-0{
  margin-bottom: 0px !important;
}

.row-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.k-home-logo{
    width:50%;
    height:auto;
    max-width:250px;
}
.k-search-img{
    width:19px;
    height: 19px;
    display:block;
    margin:0 auto;
}
.purple-bg-row{
    background-color:#982ce5 ;
}
body {
     font-size: 12px;
    }
input, select {
     font-size: 100%;
     }
.form-control-lg {
        font-size: 12px !important;
}
.form-control:focus {
    border-color:#982ce5 ;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

#k-home-search{
    border:0.7px solid rgba(156, 100, 100, 0.125);
    width:100% !important;
    border-radius:6px;
    background-image:url("/assets/images1/Asset 39.svg");
    background-repeat:no-repeat;
    background-size:17px 17px;
    background-position: 95%;
    height:43px;
    padding-left:10px;
    font-size: 12px;
}

.height-50{
height:43px !important;
}
.k-category-img{
    width:40%;
    display:block;
    margin:0 auto;
    max-width:100px;
}
.text-center{
    text-align:center;
}
.k-category-link{
    text-decoration: none;
    color: #000000;
}
.k-category-link:active{
    text-decoration:none;
    color:#000000;
}
.k-category-link:hover{
    text-decoration: none;
}
.k-category-link:visited{
    text-decoration:none;
}
.k-row-top-border{
    border-top:1px solid rgba(0,0,0,.125);
}
.gray-text{
    color: #777777 !important;
}
.pink-text{
    color:#000000;
}
.white-text{
    color:#777777;
}
.white-color{
  color: #fff;
}
.light-blue{
  color: #4e8cf1;
}
.k-badge{
    border:1px solid #f4f4f4;
    background-color:#f4f4f4;
    border-radius:30px !important;
    width:60%;
    height:auto;
    text-align:center;
}
.k-badge-shop{
  border:1px solid #f4f4f4;
  background-color:#f4f4f4;

  border-radius:30px !important;
  width:27%;
  height:auto;
  text-align:center;
}
h6{
    font-size:10px !important;
    margin-bottom:0rem !important;
    line-height: 1.2rem;
    width:100%;
}
h5{
    font-size:15px !important;
    margin-bottom:0rem !important;
    line-height: 1.3rem;
    font-weight: bold;

}
p{
    margin-bottom:0.6rem !important;
    line-height: 1.4rem !important;
    font-size:12px !important;

}
.k-shop-logo{
    width:100%;
    display:block;
    margin:0 auto;
    max-width:220px;
}
.k-item-img{
    width:100%;
    height:auto;
    max-width:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.k-bg-row{
    background-color: #f4f4f4;
}
.custom-row{
    margin-left:0px !important;
    margin-right:0px !important;
}
.custom-col{
    padding-left:0 !important;
    padding-right:0 !important;
}

.col-2, .col-sm-2,.col-md-2, .col-lg-2, .col-xl-2{
    padding-left:5px !important;
    padding-right:5px !important;
}
.k-view-shop{

    margin:0 auto;
    text-align:center;
    font-size:0.9rem !important;
    color:#777777;
    padding:12px;
    /* width:100%;
    display:block;
    background-color:#f4f4f4;

    border:1px solid #f4f4f4;
    border-radius:3px !important ; */


}
.swiper-container {
    width: 100%;
	height: 190px;
  }
  .home-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .banner1{
    width:100%;
    height:auto;
    max-height: 170px;
  }
  .hone-pagination{
      width:100% !important;
  }
  .home-pagination-bullet{
      background: #777777;
      margin-left:10px;
      width:7px;
      height: 7px;
  }
  .home-pagination-bullet-active{
    background-color:#982ce5;
    width:7px;
    height: 7px;
    outline:none;
}

.k-adv-img{
    width:100%;
}
.tab button{
    width:33%;
    text-align: center;
    border:none;
    background-color:#ffffff;
    color:#777777;
    height: 100%;
    padding:0 !important;
}

:placeholder{
    font-size: 14px;;
}
.tab{
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    height:40px;
    width:100%;
    box-shadow: 0px 3px 5px #e4e4e4;
}
.tab button.active{
    border-bottom:1.8px solid #982ce5!important;
    color:black;
}

.tab button:focus{
    outline:none;
}
.tablinks{
    width:21% !important;
}
#defaultOpen{
    margin-left:3% !important;
    margin:0;
}
#defaultOpen1{
    margin-left:5% !important;
    margin:0;
}
.tablinks2{
    width:21% !important;
}
#defaultOpen2{
    margin-left:5% !important;
    margin:0;
}
.row-p-left{
  padding-left: 10px;
}
/* This is for footer */
.k-navigation-img{
  width: 20%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-img1{
  width: 18%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-img2{
  width: 26%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-link{
    color: #777777;
    text-decoration: none;
    text-align:center;
}

.img2{
    display:none;
}
.active .img1{
    display:none;
}
.active .img2{
    display:block;
}

.k-navigation-section{
    border-top:0.8px solid rgba(0,0,0,.125);
    position: fixed;
    bottom:0;
    margin:0;
    background-color: #fafafa;
    z-index:10;
    height:54px;
}
.black-text{
    color:black;
}
.custom-row1{
    margin-left:15px;
    margin-right:15px;
}
.custom-col1{
    padding-left:5px;
    padding-right:5px;
}
.font-15{
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color:black;
}
a:active{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
.gray-text{
    color:#777777;
}
.defaultbtn{
    border-bottom:1.8px solid #982ce5!important;
}
.font-15{
    font-size:0.9rem;
}
.k-line{
    width:100%;
    height: 7px;
    background-color: #f4f4f4;
}
::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #777777 !important;
    width:5px !important;
    height: 5px !important;
  }

 ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #982ce5 !important;
    widows: 6px !important;
    height: 6px !important;

  }
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width:100%;
    background-color: #f4f4f4;
    color:white;
  }
  .content{
    height: 135vh;
  }

@media only screen and (max-width: 320px)
{
    p{
        margin-bottom:0.6rem !important;
        line-height: 1.3rem !important;
        font-size: 12px!important;
      }

    }
    .swiper-container {
        width: 100%;
        height: 170px;
      }

.lds-ellipsis {
    /* display: inline-block; */
    position: relative;
    width: 80px;
    /* height: 80px; */
  }
  .lds-ellipsis div {
    position: absolute;
    /* top: 25px; */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/* end footer */
  .shop-logo{
    width: 70%;

  }
  .shop-img{
    width: 100%;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .card {
    display: inline-block;
  }
    ::-webkit-scrollbar {
      display: none;
    }

.card-wd{
  width: 75%;
  margin: 0px 2px 0px 2px;
}
.card-wd-25 {
  width: 27%;
}
.all-more-link{
  text-align: center !important;
  color: #777777;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.card-custom{
  border: 1px solid #eee !important;
  height: 200px;
  width: 265px;
  position: relative;
  top: 10px;
  background-color: #fff;
  background-clip: border-box;

  border-radius: .25rem;
  margin: 0px 2px 0px 2px;

}
.last-card{
  height: 200px;
  width: 265px;
  position: relative;
  top: 10px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: .25rem;
  margin: 0px 2px 0px 2px;
}
.last-card-body{
      position: absolute;
    top: 50px;
    left: 40px;
}
.advertisment-bg-color{
  background-color: #982ce4;
}
.advertisment-phone-bg-color{
  background-color: #701db7;
}

/* start swiper pagination */




.home-swiper-pagination{

  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* .home-swiper-pagination-lock {
  display: none;
} */





/* end swiper pagination */
.viewAllpromoCode {
  color: #a6a6a6;
  font-size: 9pt!important;
}
.promoCode {
  color: #000000;
  font-weight: 500;
}