<a href="#">
  <img src="../../../../assets/shopsearch/Asset 63.png" alt="Previous Arrow Button" class="prev_arrow">
</a>
<hr>
<section class="section-1 pb-3">
  <div class="container-fluid">
  <form action="" method="post" class="searchForm">	
  <div class="row h-56p">
    <div class="col-12">
      <input type="text" class="form-control form-control-lg h-100" placeholder="ဆိုင်အမည်" autofocus [(ngModel)]="shopName" name="shopName">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <label for="deliveryCity" class="p.h5 grey-text"> ပို့ဆောင်သည့်မြို့နယ် </label>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <button type="button" class="btn btn-block city" (click)="openCountryDialog()">
        <span> တစ်နိုင်ငံလုံး </span>
      </button>
    </div>
    <div class="col-6">
      <button type="button" [disabled]="bthDisable" class="btn btn-block township" (click)="openTownshipDialog()">
        <span> မြို့နယ်ရွေးချယ်ပါ </span>
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <label for="shopCategory" class="p.h5 grey-text "> ဆိုင်အမျိုးအစားများ </label>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <mat-selection-list #shopType [(ngModel)]="selectedOptions" name="shopType">
        <mat-list-option *ngFor="let shopType of shopTypeList; let i = index" style="margin-bottom: 10px;" [value]="shopType">
          <div (click)="isShow[i]= !isShow[i]" >
            <span class="mr-2" [hidden]="!isShow[i]">
            <img src="../../../../assets/shopsearch/Asset 66.svg" alt="checkSign1" class="checkSign" id="button-1" />
            </span>
            <img src="{{shopType.iconUrl}}" class="category">
            <span class="f-v-w-4 ml-3">
              {{shopType.name}}
            </span>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <button type="button" class="btn btn-lg btn-block custom-btn" (click)="Search()">
      <img src="../../../../assets/shopsearch/Asset 67.svg" alt="searchIcon" class="search" /> 
      ရှာမည် 
      </button>
    </div>
  </div>
  </form>
  </div>
</section>