<!-- The Modal For City -->
<!-- <div class="mat-dialog fade" id="country-Modal" tabindex="-1" role="dialog"> -->
  <!-- <div class="mat-dialog modal-lg modal-dialog-centered">
      <div class="mat-dialog-content"> -->
      <!-- Modal Header -->
      <!-- <div class="mat-dialog-header">
          <h6 class="modal-title p.h5">
            မြို့ရွေးချယ်ပါ
          </h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <!-- Modal body -->
      <!-- <div class="mat-dialog-body">
        <div class="scrollbar scrollbar-pink bordered-pink thin">
        <div class="force-overflow"></div>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="checkCity mr-3" value="" id="check">
        <label class="check-label f-v-w-4" for="check">
        တစ်နိုင်ငံလုံး
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="checkCity mr-3" value="" id="check1">
        <label class="check-label f-v-w-4" for="check1">
        မန်းတလေး
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="checkCity mr-3" value="" id="check2">
        <label class="check-label f-v-w-4" for="check2">
        နေပြည်တော်
        </label>
        </div> -->
        <!-- <div class="checkbox">
        <input type="checkbox" class="checkCity mr-3" value="" id="check3">
        <label class="check-label" for="check3">
        တောင်ဒဂုံ
        </label>
        </div> -->
      <!-- Modal footer -->
      <!-- <div class="modal-footer"> -->
        <!-- <div class="row mt-4">
          <div class="col-6">
            <button type="button" class="btn btn-block btn-md chooseBtn">
            ရွေးမည်
            </button>
          </div>
          <div class="col-6">
            <button type="reset" class="btn btn-md btn-block" data-dismiss="modal">
              မလုပ်တော့ပါ
            </button>
          </div>
        </div>

      </div> -->
    <!-- </div> -->
      <!-- </div>
  </div> -->
<!-- </div> -->
<!-- End Modal For City -->

<!-- <mat-dialog-header> -->
<div>
  <div mat-dialog-title>
    <h6 class="modal-title p.h5">မြို့ရွေးချယ်ပါ</h6>
    <button mat-button class="close-icon" [mat-dialog-close]="true" style="float: right;">
          <mat-icon>close</mat-icon>
    </button>
  </div>
<!-- </mat-dialog-header> -->
<mat-dialog-content>
  
    <!-- <mat-form-field> -->
        <div class="scrollbar scrollbar-pink bordered-pink thin">
            <div class="force-overflow"></div>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="checkCity mr-3" value="" id="check">
        <label class="check-label f-v-w-4" for="check">
        တစ်နိုင်ငံလုံး
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="checkCity mr-3" value="" id="check1">
        <label class="check-label f-v-w-4" for="check1">
        မန်းတလေး
        </label>
        </div>
        <div class="checkbox">
        <input type="checkbox" class="checkCity mr-3" value="" id="check2">
        <label class="check-label f-v-w-4" for="check2">
        နေပြည်တော်
        </label>
        </div>
    <!-- </mat-form-field> -->
      ....
 
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row mt-4">
    <div class="col-6">
      <button class="mat-raised-button chooseBtn"(click)="save()">ရွေးမည်</button>
    </div>
    <div class="col-6">
      <button class="mat-raised-button"(click)="close()">မလုပ်တော့ပါ</button>
    </div>
  </div>
</mat-dialog-actions>
</div>