<!-- HEADER -->
<section>
  <div class="container-fluid">
      <div class="row purple-bg-row pt-2 pb-2">
          <div class="col-10">
              <img src="./././assets/images1/Asset 2.svg" alt="wood-logo" class="k-home-logo">
          </div>
          <div class="col-2 mt-2">
              <img src="./././assets/images1/Asset 44.svg" alt="search-logo" (click)="goToSearch()" class="k-search-img" />
          </div>
      </div>
  </div>
</section>
<!-- END HEADER -->
<!-- BACKGROUND BANNER -->
<section class="Banner-bg-img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
        <img class="banner-logo" src="./assets/mobile-app-buy/Asset 40.svg">
        <h3> ငွေကျပ်အနည်းဆုံး <span class="violet-color f-w-600"> ၃သောင်းခွဲ </span> ရှိရုံနဲ့ </h3>
        <h4>ကိုယ်ပိုင်နာမည်ပေါက် <span class="violet-color"> e-Commerce App</span> ကိုပိုင်ဆိုင်နိုင်ပါပြီ။</h4>
        <img class="img-width pl-3 pr-3" src="./assets/mobile-app-buy/Asset 41.png" style="margin-top: 10%;">
        <div class="text-center" style="padding-top: 5%;">
          <a type="button" (click)=" scroll( target )" class="viewMore ">
            <img class="width-10" src="./assets/mobile-app-buy/downArrowpurple.svg">
             <span class=" gray-color f-11"> {{viewmorename}}</span> </a>
        </div>
        <!-- <div class="bg-color">
          <h3 class="violet-color swiper-title-p f-18 line-height"><span class="bold  ">ShopeDoora Commerce App </span> က သင့်လုပ်ငန်းကို ဘယ်လိုမြင့်သင်ပေးမှာလဲ?</h3>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- END BACKGROUND BANNER -->
  <section class="bg-color container-fluid " #target >
    <div class="">
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h3 class="violet-color title1-p  line-height">
            <span class="bold f-18 ">ShopDoora eCommerce App </span>
            <span class="f-16">
              က သင့်လုပ်ငန်းကို ဘယ်လိုမြှင့်တင်ပေးမှာလဲ?
            </span>
          </h3>



            <swiper [config]="config">
              <div class="swiper-wrapper" style="height: 51vh !important;">
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    1.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    2.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    3.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    4.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    5.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    6.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    7.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="img-width-35 p-top-30" src="./assets/mobile-app-buy/Asset 42.png">
                  <p class="text-center swiper-p-padding">
                    8.ကိုယ်အိပ်နေရင်လည်း Order တွေလက်ခံပေးနေတယ်
                  </p>
                </div>

              </div>

              <div class="swiper-pagination pb-5" style="bottom: 0%;"></div>


              <div class="">
                <img class=" swiper-button-next img-width-10 " src="./assets/mobile-app-buy/Asset 43.svg" style="top: 85%;">
              </div>
              <div class="">
                <img class=" swiper-button-prev img-width-10 " src="./assets/mobile-app-buy/Asset 44.svg" style="top: 85%;">
              </div>
            </swiper>


        </div>
      </div>
    </div>
  </section>

  <section >
      <div class="container-fluid ">
          <div class="row ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 class="text-center violet-color f-w-500 w-spacing own-h-padding">ကိုင်ပိုင် နာမည်ပေါက် <span class="bold f-18"> Application</span>   နဲ့ <span class="bold f-18">Website</span> ဘယ်နှခုရမလည်း?</h3>
                <img class="img-width" src="./assets/mobile-app-buy/Asset 47.png">
                <img class="img-width pt-4" src="./assets/mobile-app-buy/Asset 48.png">
                <p class="text-center own-p-padding">
                  ShopDoora တွင် အဓိက အားဖြင့် Seller App နှင့် <br>
                  Buyer App နှစ်မျိုးသာရှိပြီး Android Phone <br>
                  အသုံးပြုသူနှင့် Apple Phone အသုံးပြုသူများ ကွဲခြားပြန်ရာ <br>
                  စုစုပေါင်း App ၄ခုရှိမည်ဖြစ်သည်။ <br>
                  Buyer များအတွက် App Download မလုပ်ပဲ <br>
                  Website Link များမှ လွယ်လင့်တကူ Order မှာယူနိုင်ရန် <br>
                  အတွက်လည်း Responsive Web တစ်ခုရှိမည်ဖြစ်သည်။ <br>
                </p>
              </div>
          </div>

      </div>
  </section>

  <section class="bg-color">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <h3 class="text-center violet-color f-w-500  own-h-padding"><span class="f-18 bold">ShopDoora eCommerce </span>တွင် ပါဝင်မည့် <span class="f-18 bold">Feature</span>  များ</h3>
          <div>
            <img class="img-feature" src="./assets/mobile-app-buy/Asset 56.svg">
            <h3 class="black-color pt-3 pb-3">SELLER APPS & WEB</h3>
            <div class="pl-2">
              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product Upload</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order Details</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Voucher Print</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Member Points</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>
            </div>
          </div>


          <div class="mt-5">
            <img class="img-feature" src="./assets/mobile-app-buy/Asset 58.svg">
            <h3 class="black-color pt-3 pb-3">SELLER ADMINISTRATION WEBSITE</h3>
            <div class="pl-2">
              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product Upload</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order Details</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Voucher Print</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Member Points</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>
            </div>
          </div>

          <div *ngIf="show" class="mt-5">
            <img class="img-width-50" src="./assets/mobile-app-buy/Asset 59.svg">
            <h3 class="black-color pt-3 pb-3">BUYER APPS & WEB</h3>
            <div class="pl-2">
              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product Upload</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Product List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order Details</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Voucher Print</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Order List</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Member Points</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>

              <div class="">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span class="f-12">Sample Text</span>
              </div>
            </div>
          </div>

          <div class="text-center view-more-btn mt-2 mb-4">
            <a type="button" (click)="toggle()" id="btn">
               <img class="viewmore-arrow" src="./assets/mobile-app-buy/Asset 69.svg">
                <span class=" violet-color f-11"> {{buttonName}} </span> </a>
          </div>


        </div>
      </div>
    </div>

  </section>
  <section>
    <div class="container-fluid">
      <h3 class="violet-color swiper-title-p line-height">
        <span class="bold  f-18  ">ShopDoora eCommerce </span>
         အတွက် ကျသင့်မည့်ဈေးနှန်း?</h3>
         <swiper [config]="config">
          <div class="swiper-wrapper" style="height: 554px !important;">
            <div class="swiper-slide">
              <div class="cost">
                <h3 class="bg-color-red white-color cost-title-p1  ">
                  ShopeDoora Commerce App Lite
                </h3>
                <p class="pl-2 pt-3">Includes</p>
                <div class="pl-2">
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">1% Transaction fee based on revenue</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">2 Staff accounts</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">100 products maximum upload</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">Seller and Buyer Apps (Android)</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">Payment Gateway Integration</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">Member Points System</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 2.svg">
                    <span class="f-12">49,000 ks for setting up App & Website</span>
                  </div>
                </div>
                <div class="pt-3 pb-2 pr-3 pl-3">
                  <h4 class="bg-color-red white-color cost-title-p2 text-center">
                    ks 35,000/ month
                  </h4>
                </div>


              </div>
            </div>
            <div class="swiper-slide">
              <div class="cost">
                <h3 class="bg-color-blue white-color cost-title-p1  ">
                  ShopeDoora Commerce App Lite
                </h3>
                <p class="pl-2 pt-3">Includes</p>
                <div class="pl-2">
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">1% Transaction fee based on revenue</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">2 Staff accounts</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">100 products maximum upload</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">Seller and Buyer Apps (Android)</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">Payment Gateway Integration</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">Member Points System</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 3.svg">
                    <span class="f-12">49,000 ks for setting up App & Website</span>
                  </div>
                </div>
                <div class="pt-3 pb-2 pr-3 pl-3">
                  <h4 class="bg-color-blue white-color cost-title-p2 text-center">
                    ks 35,000/ month
                  </h4>
                </div>


              </div>
            </div>
            <div class="swiper-slide">
              <div class="cost">
                <h3 class="bg-color-green white-color cost-title-p1  ">
                  ShopeDoora Commerce App Lite
                </h3>
                <p class="pl-2 pt-3">Includes</p>
                <div class="pl-2">
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">1% Transaction fee based on revenue</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">2 Staff accounts</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">100 products maximum upload</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">Seller and Buyer Apps (Android)</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">Payment Gateway Integration</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">Member Points System</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 4.svg">
                    <span class="f-12">49,000 ks for setting up App & Website</span>
                  </div>
                </div>
                <div class="pt-3 pb-2 pr-3 pl-3">
                  <h4 class="bg-color-green white-color cost-title-p2 text-center">
                    ks 35,000/ month
                  </h4>
                </div>


              </div>
            </div>
            <div class="swiper-slide">
              <div class="cost">
                <h3 class="bg-color-yellow white-color cost-title-p1  ">
                  ShopeDoora Commerce App Lite
                </h3>
                <p class="pl-2 pt-3">Includes</p>
                <div class="pl-2">
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">1% Transaction fee based on revenue</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">2 Staff accounts</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">100 products maximum upload</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">Seller and Buyer Apps (Android)</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">Payment Gateway Integration</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">Member Points System</span>
                  </div>
                  <div class="pt-2 pb-2">
                    <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 5.svg">
                    <span class="f-12">49,000 ks for setting up App & Website</span>
                  </div>
                </div>
                <div class="pt-3 pb-2 pr-3 pl-3">
                  <h4 class="bg-color-yellow white-color cost-title-p2 text-center">
                    ks 35,000/ month
                  </h4>
                </div>


              </div>
            </div>


          </div>

          <div class="swiper-pagination " style="bottom: 11% !important;"></div>


          <div class="">
            <img class=" swiper-button-next img-width-10 " style="position: absolute; top: 89% !important;" src="./assets/mobile-app-buy/Asset 43.svg">
          </div>

          <div class="">
            <img class=" swiper-button-prev img-width-10 " style="position: absolute; top: 89% !important;" src="./assets/mobile-app-buy/Asset 44.svg">
          </div>

        </swiper>

      <!-- <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="cost">
            <h3 class="bg-color-red white-color cost-title-p1  ">
              ShopeDoora Commerce App Lite
            </h3>
            <p class="pl-2 pt-3">Includes</p>
            <div class="pl-2">
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
              <div class="pt-2 pb-2">
                <img class="right-width pr-2" src="./assets/mobile-app-buy/Asset 57.svg">
                <span>Product Upload</span>
              </div>
            </div>
            <div class="pt-3 pb-2 pr-3 pl-3">
              <h4 class="bg-color-red white-color cost-title-p2 text-center">
                ks 35,000/ month
              </h4>
            </div>


          </div>

        </div>
      </div> -->
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h3 class="violet-color  pb-4">
            အခြေဝန်ဆောင်မှုအတွက် စရိတ်များ
          </h3>
          <div class="row">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 pr-0 ">
             <p class="gray-color f-11">မိမိစိတ်တိုင်းကျ software ကိုပြင်ရန် တစ်ရက်ခဈေးနှုန်း</p>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0">
              <p class="p-left ">:</p>
           </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
               <p class="black-color"> ၆၅,၀၀၀ ကျပ် (IOS Android, Web Development အားလုံးအတွက်ဈေးတူပါသည်</p>
            </div>
          </div>

          <div class="row">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 pr-0 pl-2">
             <p class="gray-color f-11">ကိုယ်ပိုင် Website အမည်ရရန်အတွက် ဈေးနှုန်း</p>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0">
              <p class="p-left ">:</p>
           </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
               <p class="black-color">  ၂၅,၀၀၀ ကျပ်ခန့်ရှိသည်(မူရင်းတန်ဖိုးသာ ပေးရန်)</p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 pr-0 pl-2">
             <p class="gray-color f-11"> ကိုယ်ပိုင်ဆိုင်အမည်ဖြင့် Email Account အသစ်ဖွင့်ရန်</p>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0">
              <p class="p-left ">:</p>
           </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
               <p class="black-color">  ၁၀,၀၀၀ ကျပ် (Account အသစ်တစ်ခု ဖွင့်ပေးခ)</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr-0 pl-0 mt-2">
            <div class="k-line"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h4 class="violet-color pb-4">About Us</h4>
          <p class="gray-color">Who We Are</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h4 class="violet-color pb-4">Contact Us</h4>
          <p  class="gray-color">For Application</p>
          <p  class="gray-color">For Website</p>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <img class="footer-logo-width" src="./assets/mobile-app-buy/Asset 40.svg">
          <p class="f-11">ShopDoora CO.,Ltd</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
         <p class="gray-color ">လိပ်စာ</p>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0">
          <p class="p-left ">:</p>
       </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 ">
           <p class="black-color"> Orchid Condo,No189,18th Floor,Ahlone Township,Yangon,Myanmar</p>
        </div>
      </div>


      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg- col-xl-3 ">
         <p class="gray-color ">ဖုန်းနံပါတ်</p>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0">
          <p class="p-left ">:</p>
       </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
           <p class="black-color"> 09450880001</p>
        </div>
      </div>
      <div class="row mt-4 " style="margin-bottom: 55px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <p class="gray-color f-11">Copyright &copy; 2020 Myanmar Hight Society CO.,Ltd</p>
            <p class="gray-color f-11">All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </section>



<section>
  <div class="container-fluid k-navigation-section">
      <div class="row footer-row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 pr-2 pl-2">
              <a class="k-navigation-link" (click)="goToHome()">
                  <img src="./assets/images1/footer/Asset 22.svg" class="k-navigation-img img1 mb-2">
                  <img src="./assets/images1/footer/Asset 26.svg" class="k-navigation-img2  img2 mb-2">
                  <p class="center-text  f-10 ">မူလစာမျက်နှာ</p>
              </a>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 pr-0 pl-0">
              <a class="k-navigation-link" (click)="goToShopAdd()">
                <img src="./assets/images1/footer/Asset 23.svg" class="k-navigation-img img1 mb-2">
                <img src="./assets/images1/footer/Asset 27.svg" class="k-navigation-img  img2 mb-2">
                  <p class="center-text f-10">မိမိ Shop တင်မည်</p>
              </a>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 pl-2 pr-2">
              <a class="k-navigation-link" (click)="goToContactUs()">
                <img src="./assets/images1/footer/Asset 24.svg" class="k-navigation-img img1 mb-2">
                <img src="./assets/images1/footer/Asset 28.svg" class="k-navigation-img  img2 mb-2">
                  <p class="center-text f-10">ဆက်သွယ်ရန်</p>
              </a>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 pr-0 pl-0">
            <a class="k-navigation-link active">
              <img src="./assets/images1/footer/Asset 25.svg" class="k-navigation-img1 img1 mb-2">
              <img src="./assets/images1/footer/Asset 29.svg" class="k-navigation-img  img2 mb-2">
                <p class="center-text black-text f-10">App ၀ယ်ယူမည်</p>
            </a>
        </div>
      </div>
  </div>
</section>




