/* @font-face {
  font-family: Los Andes;
  src: url (../font/Los\ Andes\ \ Lota\ Grotesque\ Alt\ 1\ Regular.otf);
  src: url (../font/Los\ Andes\ \ Lota\ Grotesque\ Alt\ 1\ Bold.otf);
  src: url (../font/Los\ Andes\ \ Lota\ Grotesque\ Alt\ 1\ Black.otf);
  }
  section{
    font-family: Los Andes;
  } */
.f-w-500{
  font-weight: 500;
}
.f-w-600{
  font-weight: 600;
}
.f-20{
  font-size: 20px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-17{
  font-size: 17px !important;
}
.f-14{
  font-size: 14px !important;
}
.f-11{
  font-size: 11px !important;
}
.f-16{
  font-size: 16px !important;
}
.f-12{
  font-size: 12px !important;
}
.f-10{
  font-size: 10px !important;
}
.k-line{
  width:100%;
  height: 10px;
  background-color: #dddddd;
}
.line-height{
  line-height: 1.7rem !important;
}
.img-width{
  width: 100%;
}
.img-width-10{
  width: 10%;
}
.img-width-50{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo-width{
  width: 40%;
}
.container-padding{
  padding: 0px 11px 0px 11px;
}

/* HEADER */
.purple-bg-row{
  background-color:#982ce5 ;
}
.k-home-logo{
  width:50%;
  height:auto;
  max-width:250px;
}
.k-search-img{
  width:19px;
  height: 19px;
  display:block;
  margin:0 auto;
}
/* END HEADER */
.bg-color-blue{
  background-color: #288aea;
}
.bg-color-green{
  background-color: #27a030;
}
.bg-color-yellow{
  background-color: #db8f09;
}
.gray-color{
  color: #777777;
}
/* BACKGROUND BANNER */
.Banner-bg-img{
  background-image: url("../../../assets/mobile-app-buy/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  padding-bottom: 5%;
}
.banner-logo{
  width: 33%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}
h3 { 
  font-size: 4.8vw;
  margin-bottom:0rem !important;
  line-height: 1.2rem;
  width:100%;
  text-align: center !important;
  color: #272928;
  letter-spacing: 0.3px;
  margin-top: 5%;
  font-weight: 400!important;
}
h4{
  font-size: 4.1vw;
  margin-bottom: 0rem!important;
  line-height: 1.2rem;
  width:100%;
  text-align: center!important;
  color: #272928;
  letter-spacing: 0.3px;
  margin-top: 6%;
  font-weight: 400!important;
}
.seeMore {
  width: 6%;
  height: auto;
}
/* END BACKGROUND BANNER */
/* UPGRADING */
.bg-color{
  background-color: #f4f4f4;
}
p{
  margin-bottom: 1.5rem !important;
  line-height: 1.3rem !important;
  font-size: 3.8vw!important;
  letter-spacing: 0.5px;
  color: #282a29;

}
.img-width-38{
  width: 38%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-width-45{
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-width-30 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* END UPGRADING */
/* APP & WEBSITE */
.appNwebText {
  margin-bottom: 1.5rem !important;
  line-height: 1.6rem !important;
  font-size: 3.7vw!important;
  letter-spacing: 0.5px;
  color: #282a29;
}
/* APP & WEBSITE */
/* FEATURE */
.featureItems {
  margin-bottom: 1.5rem !important;
  font-size: 3.7vw!important;
  line-height: 1.6rem !important;
  letter-spacing: 0.5px;
}
.right-width{
  width: 5.5%;
  height: auto;
}
.viewmore-arrow {
  width: 5%;
  height: auto;
}
.moreBtn {
  width: 3.3%;
  height: auto;
}
.feature-padding{
  padding:35px 40px 35px 40px;
}
 /* END FEATURE */
 /* ECOMMERCE PRICE */
 .priceTxt {
  margin-bottom: 1.5rem !important;
  font-size: 3.7vw!important;
  line-height: 1.6rem !important;
  letter-spacing: 0.5px;
 }
.p-left{
  padding-left: 13px;
}
.p-top-30{
  padding-top: 30px;
}
.violet-color{
  color: #9b33e6;
}
.black-color{
  color: #373737;
}
.img-feature{
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.view-more-btn{
  padding: 10px 40px;
  /* padding: 5px 40px; */
  background-color: #fff;
  border-radius: 5px;
}
.width-10{
  width: 10px;
}
.bg-color-red{
  background-color: #ea734e;
}
.white-color{
  color: #fff;
}
/* OTHER SERVICE PRICE */
.serviceTxt {
  font-size: 3.7vw!important;
  line-height: 1.6rem !important;
  font-weight: 500;
}
/* END OHTER SERVICE PRICE */
/* AOBUT & CONTACTUS */
.aboutNcontact {
  font-size: 4.8vw!important;
  margin-bottom:0rem !important;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.cost-title-p1 {
  padding: 18px;
  border-radius: 8px 8px 0px 0px ;
}
.cost-title-p2 {
  padding: 12px;
  border-radius: 5px ;
}
.cost{
  border: 1px solid #ececec;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;

}


/* start footer */


.k-navigation-img{
  width: 20%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-img1{
  width: 18%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-img2{
  width: 26%;
  display: block;
  margin: 0 auto;
  max-width: 20px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
.k-navigation-link{
    color: #777777;
    text-decoration: none;
    text-align:center;
}

.img2{
    display:none;
}
.active .img1{
    display:none;
}
.active .img2{
    display:block;
}

.k-navigation-section{
    border-top:0.8px solid rgba(0,0,0,.125);
    position: fixed;
    bottom:0;
    margin:0;
    background-color: #fafafa;
    z-index:10;
    height:54px;
}
.black-text{
    color:#494949;
}
.custom-row1{
    margin-left:15px;
    margin-right:15px;
}
.custom-col1{
    padding-left:5px;
    padding-right:5px;
}
.font-15{
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color:black;
}
a:active{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
.gray-text{
    color:#888888;
}
.defaultbtn{
    border-bottom:1.8px solid #982ce5!important;
}
.font-15{
    font-size:0.9rem;
}
.k-line{
    width:100%;
    height: 7px;
    background-color: #f4f4f4;
}
::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #777777 !important;
    width:5px !important;
    height: 5px !important;
  }

 ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #982ce5 !important;
    widows: 6px !important;
    height: 6px !important;

  }
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width:100%;
    background-color: #f4f4f4;
    color:white;
  }
  .content{
    height: 135vh;
  }

@media only screen and (max-width: 320px)
{
    p{
        margin-bottom:0.6rem !important;
        line-height: 1.3rem !important;
        font-size: 12px!important;
      }

    }
    .swiper-container {
        width: 100%;
        height: 170px;
      }

.lds-ellipsis {
    /* display: inline-block; */
    position: relative;
    width: 80px;
    /* height: 80px; */
  }
  .lds-ellipsis div {
    position: absolute;
    /* top: 25px; */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/* end footer */

