.f-w-500{
  font-weight: 500;
}
.f-20{
  font-size: 20px !important;
}
.f-11{
  font-size: 11px !important;
}
.bold{
  font-weight: bold;
}
.k-line{
  width:100%;
  height: 10px;
  background-color: #dddddd;
}
.img-width{
  width: 100%;
}
.img-width-50{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo-width{
  width: 40%;
}
.container-padding{
  padding: 0px 11px 0px 11px;
}
.w-spacing{
  word-spacing: 5px;
}
.right-width{
  width: 25px;
}
.k-home-logo{
  width:50%;
  height:auto;
  max-width:250px;
}
.k-search-img{
  width:19px;
  height: 19px;
  display:block;
  margin:0 auto;
}
.purple-bg-row{
  background-color:#982ce5 ;
}
.gray-color{
  color: #777777;
}
.Banner-bg-img{
  background-image: url("../../../assets/mobile-app-buy/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.top-p-33{
  padding-top: 33px;
}
.bg-color{
  background-color: #f4f4f4;
}
.feature-padding{
  padding:35px 40px 35px 40px;
}
p{
  margin-bottom:0.6rem !important;
  line-height: 1.1rem !important;
  font-size:12px !important;

}
h3{
  font-size:16px !important;
    margin-bottom:0rem !important;
    line-height: 1.2rem;
    width:100%;
    text-align: center !important;

}
h4{
  font-size:14px !important;
    margin-bottom:0rem !important;
    line-height: 1.2rem;
    width:100%;


}
.h3-padding{
  padding: 25px 0px 25px 0px;
}
.p-left{
  padding-left: 13px;
}
.violet-color{
  color: #9b33e6;
}
.black-color{
  color: #373737;
}
.img-feature{
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.view-more-btn{
  padding: 10px 40px;
  padding: 5px 40px;
  background-color: #fff;
  border-radius: 5px;
}
.viewmore-arrow{

  width: 7px;
}
.width-10{
  width: 10px;
}

/*start footer */



/* #slideshow {
  overflow: hidden;
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 300px;
  width: 100%;
}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
} */



/* end footer */
