<!-- Nav -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 mb-3">
        <div (click)="back()">
          <img src="./assets/shopdetail/Asset 65.svg" class="right-arrow-logo ">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Header -->
<section>
  <div class="container-fluid">
    <div class="row border-top-row pt-4">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <img *ngIf="shop" src="{{shop.shopLogoUrl}}" class="N-shop-logo mt-1" alt="" >
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h5 *ngIf="shop" class="f-14 mb-2 mt-0">{{shop.name}}</h5> 
        <div class="k-badge mt-3 mb-3" style="margin-right: 10px;"><h6 *ngIf="shop" class="white-text">{{shop.shopTypeName}}</h6></div>
        <p *ngIf="shop">
          <span *ngFor="let location of shop.shopDeliveryAvailableLocation;let i = index">   
            <span *ngIf="i<3">{{location.township.name}}၊</span>                                
            <span *ngIf="i>=3 && townshipReadMore">{{location.township.name}}၊</span>
            </span>
            <br>
            <a (click)="changeTownshipReadMore()" class="myBtn mt-3"  id="myBtn" ><span class="read-more-city"> {{townshipReadMoreText}}</span></a>  
        </p>
        <p *ngIf="shop">{{shop.deliveryFromTime}} - {{shop.deliveryToTime}}</p>
        <p class="f-14 mb-2 mt-0" *ngIf="shop" class="gray-text">
          <img src="./assets/shopdetail/Asset 54.svg" style="width: 9px;" alt="">
          {{shop.phNo}}
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
           <div class="article f-12 mt-3 bg-color-open">
               <div *ngIf="shop" class="lineheight">
                  <div *ngIf="!desReadMore">{{ shop.description | truncate : 100 : "..." }}</div>
                  <div *ngIf="desReadMore">{{shop.description}}</div>
                </div>
                 <a (click)="changeDesReadMore()" class="moreless-button">{{desReadMoreText}}</a>
          </div>
      </div> 
  </div> 
      
  </div>
</section>

<!-- Slider -->
<section>
  <div class="container-fluid">
    <div class="row"> 
      <div *ngIf="shop" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custom-col">
           
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let ads of shop.advertisement" carouselSlide>
                <div class="slide">
                    <img src="{{ads.url}}" (click)="shopDetailAdvertisement(shop.id)" style="min-height: 320px;max-height:320px;">
                </div>
            </ng-template>           
        </owl-carousel-o>
      </div>
    </div> 
  </div>
</section>

<!-- Item Counts -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 k-custom-col">
        <div class="K-line"></div>
      </div>
    </div>
    <div class="row pt-4 pb-4">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><p class="text-black"> ပစ္စည်းများ</p> </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><p *ngIf="shop" class="text-right">{{shop.product.length}}ခု</p></div>
    </div>
  </div>
</section>

<!-- Products -->
<section class="bg-color">
  <div class="container-fluid">
    <div *ngIf="shop && shop.product" class="row pt-4 custom-row">
     
      <div *ngFor="let product of shop.product;" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 k-full-col">
        <img *ngIf="product.productImage[0]" class="materials1-img mr-1"  src="{{product.productImage[0].url}}" style="min-height: 150px;max-height:150px;">
        <p class="gray-text pt-2"> {{product.name}} </p>
        <p *ngIf="product.price != 0" class="text-black"> ks {{product.price}}</p>
      </div> 
    
    </div> 
  </div>
</section>

<!-- Buy button -->
<section>
  <div class="container-fluid">
    <div class="row border-top-row pb-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-4">
        <button (click)="openModal(template)" type="button" class="btn btn-buy  btn-lg" data-toggle="modal" data-target="#myModal">
          <img src="./assets/shopdetail/Asset 45.svg" style="width:20px" alt="">
          ၀ယ်ယူမည်
      </button>
      </div>
    </div>
  </div>
</section>


<ng-template #template>
<div class="">
<div class="modal-header">
<h1 class="modal-title buy-title">၀ယ်ယူမည်</h1>
<button type="button" class="close" (click)="modalRef.hide()">&times;</button>
</div>
<div class="modal-body">

<div *ngIf="shop.facebookLink">
<p>Facebook</p>
<a href="{{shop.facebookLink}}" target="_blank" class="btn btn-facebook" style="width: 100%;">
<img src="./assets/shopdetail/Asset 55.png" style="width: 30px;" alt="">
<span class="f-12">  {{shop.facebookLink}}</span>
</a>
<br>
</div>

<div *ngIf="shop.androidLink || shop.iosLink">
<p>App</p>
<div class="row">

<div *ngIf="shop.androidLink" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
<a href="{{shop.androidLink}}" target="_blank" class="btn p-0 " role="button" aria-pressed="true">
<img src="./assets/shopdetail/Asset 56.png" style="width: 100%;" alt="">
</a>
</div>


<div *ngIf="shop.iosLink" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
<a href="{{shop.iosLink}}" target="_blank" class="btn p-0 " role="button" aria-pressed="true">
<img src="./assets/shopdetail/Asset 57.png" style="width: 100%;" alt="">
</a>
</div>

</div>
<br>
</div>

<div *ngIf="shop.websiteLink">
<p>Website</p>
<a href="{{shop.websiteLink}}" target="_blank" class="btn btn-website" style="width: 100%;"><span class="f-12"> go to {{shop.websiteLink}}</span></a>
</div>

</div>
</div>
</ng-template>