<!-- <a (click)="backToHome()">
  <img src="./assets/shopsearch/Asset 63.png" alt="Previous Arrow Button" class="prev_arrow">
</a>
<div class="line1"></div> -->
<div class="navbar">
  <a (click)="backToHome()">
    <img src="./assets/shopsearch/Asset 63.png" alt="Previous Arrow Button" class="backArrow mt-2" autofocus>
  </a>	
  <!-- <img src="./assets/shopsearch/Asset 63.png" alt="Previous Arrow Button" class="backArrow mt-2" autofocus> -->
  <!-- <button type="button" class="search-btn" (click)="search()">
    <img src="./assets/shopsearch/Asset 67.svg" class="searchIcon">
    <span style="font-size:0.8rem !important;"> ရှာမည် </span>
  </button> -->
  <a class="search-btn" (click)="search()">
    <span style="font-size: 0.8rem !important;"> ရှာမည် </span>
  </a>
</div>			
<section class="section-1 pb-3">
  <div class="container-fluid">
    <!-- <form action="" method="post" class="searchForm"> -->
      <div class="row h-51p">
        <div class="col-12">
          <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
              <div class="ng-autocomplete">
                <ng-autocomplete #ngAutoCompleteStatic
                                 [data]="countriesTemplate"
                                 name="name"
                                 [(ngModel)]="searchText"
                                 [initialValue]=""
                                 [placeHolder]="placeholder"
                                 [searchKeyword]="keyword"
                                 historyIdentifier="countriesTemplateList"
                                 [historyHeading]="historyHeading"
                                 historyListMaxNumber="3"
                                 notFoundText="Not found"
                                 [itemTemplate]="itemTemplateStatic"
                                 [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
      
                <ng-template #itemTemplateStatic let-item>
                  <a [innerHTML]="item"></a>
                </ng-template>
      
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            
          </form>
          <!-- <input type="text" [(ngModel)]="searchText" class="form-control form-control-lg h-100 k-search" placeholder="ဆိုင်ရှာမည်" autofocus> -->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="deliveryCity" class="f-12 grey-text"> ပို့ဆောင်သည့်မြို့နယ် </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-block city" (click)="openCityModal(cityTemplate)">
            <span> {{cityPlaceholder}} </span>
          </button>
        </div>
        <div class="col">
          <button [ngClass]="{'disabled' : disabled}" type="button" class="btn btn-block township" (click)="openTownshipModal(townshipTemplate)">
            <span> {{townshipPlaceholder}}  </span> 
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <label for="shopCategory" class="f-12 grey-text "> ဆိုင်အမျိုးအစားများ </label>
        </div>
      </div>
      <div *ngFor="let item of shopTypeList">
        <div class="row mt-1" *ngIf="item.id == 1">
          <div class="col-12">
            <div class="foodNdelivery" (click)="toggleDisplay(item.id)">
              <span class="check" *ngIf="item.showSpan">
                <img src="./assets/shopsearch/Asset 40.svg" alt="checkSign1" class="checkSign" id="button-1"/>
              </span>
              <img src="{{item.iconUrl}}" alt="FDelivery" class="category" />
              <span class="f-12 ml-2">
                {{item.name}}
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3" *ngIf="item.id != 1">
          <div class="col-12">
            <div class="foodNdelivery" (click)="toggleDisplay(item.id)">
              <span class="check" *ngIf="item.showSpan">
                <img src="./assets/shopsearch/Asset 40.svg" alt="checkSign1" class="checkSign" id="button-1"/>
              </span>
              <img src="{{item.iconUrl}}" alt="FDelivery" class="category" />
              <span class="f-12 f-w-500 ml-2">
                {{item.name}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div style="height:95px;width:100%"></div>
        </div>
      </div>
      <div class="row fixed-section-btn" style="padding-top:15px;padding-bottom:15px">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        </div>
      </div>
  </div>
</section>
<ng-template #cityTemplate id="margin-modal">
  <!-- Modal Header -->
  <div class="modal-header">
    <p class="modal-title p.h5">
      မြို့ရွေးချယ်ပါ
    </p>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <div class="checkbox">
    <input type="checkbox" name="check_list" class="cb mr-3" [(ngModel)]="wholeCountry" value="{{wholeCountry}}" id="checkAll" (click)="checkAllCities()">
      <label class="check-label font-12" for="checkAll">
        တစ်နိုင်ငံလုံး
      </label>
    </div>
    <div *ngFor="let option of cityOptions">
      <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" [(ngModel)]="option.selected" value="{{option.id}}"
          id="{{option.value}}" (click)="checkForWholeCountry(option)">
        <label class="check-label font-12" for="{{option.value}}">
          {{option.value}}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row township-btn-modal">
      <div class="col-6">
        <button type="button" (click)="getSelectedCity()" class="btn btn-block btn-md chooseBtn">
         <p> ရွေးမည်</p>
        </button>
      </div>
      <div class="col-6">
        <button type="button" (click)="cancelCityModal()" class="btn btn-md btn-block">
         <p> မလုပ်တော့ပါ</p>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #townshipTemplate >
  <section>
  <!-- Modal Header -->
  <div class="modal-header">
    <p class="modal-title p.h5">
      မြို့နယ်ရွေးချယ်ပါ
    </p>
  </div>
  <!-- Modal body -->
  <div class="modal-body" *ngIf="townshipOptions.length != 0">
    <div class="checkbox">      
      <input type="checkbox" name="check_list" class="cb mr-3" [(ngModel)]="wholeCity" value="{{wholeCity}}" id="checkAll" (click)="checkAllTownships()">
      <label class="check-label f-v-w-4 font-12" for="checkAll">
        မြို့နယ်အားလုံး
      </label>
    </div>
    <div *ngFor="let option of townshipOptions">
      <div class="checkbox">
        <input type="checkbox" name="check_list" class="cb mr-3" [(ngModel)]="option.selected" value="{{option.id}}"
          id="{{option.value}}" (click)="checkForWholeCity(option)">
        <label class="check-label f-v-w-4 font-12" for="{{option.value}}">
          {{option.value}}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="townshipOptions.length != 0">
    <div class="row p-0 m-0 township-btn-modal">
      <div class="col-6">
        <button type="button" (click)="getSelectedTownship()" class="btn btn-block btn-md chooseBtn">
        <p> ရွေးမည်</p> 
        </button>
      </div>
      <div class="col-6">
        <button type="button" (click)="cancelTownshipModal()" class="btn btn-md btn-block">
          <p>မလုပ်တော့ပါ</p>
        </button>
      </div>
    </div>
  </div>
</section>
</ng-template>