<!-- <div class="container-fluid">
    <div class="row col-sm-12">
        <img src="./assets/info/imgpsh_fullsize_anim.png" alt="" style="width: 500px; height: 500px; margin-top: 50%;">
    </div>
</div>   -->
<section style="height:100%;width: 100%;">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class=""><img class="logo" src="./assets/info/imgpsh_fullsize_anim.png" /></div>
      </div>
    </div>
  </div>
</section>

